{{#each products}}
<div id="detail{{this._id}}" class='card card-block hidden'>

    <h2>{{this.name}}</h2>
    <h3>{{this.description}}</h3>
    <h4>For more info contact:</h4>
    <p>{{this.contactInfo.name}}
        <br> {{this.contactInfo.title}}
        <br> {{this.contactInfo.company}}
        <br> {{this.contactInfo.email}}
        <br> {{this.contactInfo.phone}}
        <br></p>
    <a href="#products" class='no-product-message'>&lt&lt Hide!</a>
</div>
{{/each}}