<div class='profile card card-block'>
	<h2>What would you like to do?</h2>
	<div class='customer-update-form'>
		<form id='update-form' class='hidden'>
			<!-- This if so that jquery has access the node uuid so that it can make an ajax request to the put route -->
			<input type="hidden" id='nodeUUID' name="nodeUUID" value="{{ user._id }}">
			<div class="formsection container">
				<h3><span href="#profilecollapse" data-toggle="collapse" class="glyphicon toggle"></span> Profile Information</h3>
				<div id="profilecollapse" class="collapse in">
					<fieldset class="col-sm-4">
						<label for="username" class="">Username</label>
						<input type="email" id="username" class="form-control" value="{{ user.username}}" required autofocus>

						<label for="password" class=""> Password</label>
						<input type="password" id="password" class="form-control" placeholder="type new password" required>
					</fieldset>
					<fieldset class="col-sm-4">
						<label for="firstName" class="">firstName</label>
						<input type="text" id="firstName" class="form-control" value="{{ user.profile.firstName }}" required autofocus>

						<label for="middleInit" class="">Middle Init</label>
						<input type="text" id="middleInit" class="form-control" value="{{ user.profile.middleInit}}" required autofocus>

						<label for="lastName" class="">lastName</label>
						<input type="text" id="lastName" class="form-control" value="{{ user.profile.lastName }}" required autofocus>

						<label for="DOB" class="">DOB (Please use YYYY-MM-DD format)</label>
						<div class="input-group">
							<input type="number" id="year" class="form-control" placeholder="YYYY" value="{{ user.profile.DOB.year }}" required autofocus>
							<span class="input-group-addon">-</span>
							<input type="number" id="month" class="form-control" placeholder="MM" value="{{ user.profile.DOB.month }}" required autofocus>
							<span class="input-group-addon">-</span>
							<input type="number" id="day" class="form-control" placeholder="DD" value="{{ user.profile.DOB.day }}" required autofocus>
						</div>
					</fieldset>
					<fieldset class="col-sm-4">
						<label for="noDependents" class="">noDependents</label>
						<input type="number" id="noDependents" class="form-control" value="{{ user.profile.noDependents }}" required autofocus>

						<label for="zipCode" class="">zipCode</label>
						<input type="text" id="zipCode" class="form-control" value="{{ user.profile.zipCode }}" required autofocus>

						<label for="monthlyIncome" class="">monthlyIncome</label>
						<input type="number" id="monthlyIncome" class="form-control" value="{{ user.profile.monthlyIncome}}" required autofocus>

						<label for="desiredRetirementAge" class="">desiredRetirementAge</label>
						<input type="number" id="desiredRetirementAge" class="form-control" value="{{ user.profile.desiredRetirementAge }}" required
							autofocus>
					</fieldset>
				</div>
			</div>
			<div class="formsection container">
				<h3><span href="#assetscollapse" data-toggle="collapse" class="glyphicon toggle"></span> Assets</h3>
				<div id="assetscollapse" class="collapse in">
					<fieldset class="col-sm-4">
						<label for="stocks" class="">stocks</label>
						<input type="number" id="stocks" class="form-control" value="{{ user.profile.assets.stocks }}" required autofocus>

						<label for="bonds" class="">bonds</label>
						<input type="number" id="bonds" class="form-control" value="{{ user.profile.assets.bonds}}" required autofocus>

						<label for="cash" class="">cash</label>
						<input type="number" id="cash" class="form-control" value="{{ user.profile.assets.cash }}" required autofocus>

						<label for="retirementAccounts" class="">retirementAccounts</label>
						<input type="number" id="retirementAccounts" class="form-control" value="{{ user.profile.assets.retirementAccounts }}" required
							autofocus>
					</fieldset>
					<fieldset class="col-sm-4">
						<label for="annuities" class="">annuities</label>
						<input type="number" id="annuities" class="form-control" value="{{ user.profile.assets.annuities }}" required autofocus>

						<label for="property" class="">property</label>
						<input type="number" id="property" class="form-control" value="{{ user.profile.assets.property}}" required autofocus>

						<label for="other" class="">other</label>
						<input type="number" id="other" class="form-control" value="{{ user.profile.assets.other }}" required autofocus>

						<label for="savingsRateOfIncome" class="">savingsRateOfIncome</label>
						<input type="number" id="savingsRateOfIncome" class="form-control" value="{{ user.profile.savingsRateOfIncome}}" required
							autofocus>
					</fieldset>
				</div>
			</div>
			<div class="formsection container">
				<h3><span href="#monthlycollapse" data-toggle="collapse" class="glyphicon toggle"></span> Monthly Costs</h3>
				<div id="monthlycollapse" class="collapse in">
					<fieldset class="col-sm-4">
						<label for="car" class="">car</label>
						<input type="car" id="car" class="form-control" value="{{ user.profile.monthlyCosts.car }}" required autofocus>

						<label for="rentOrMortgage" class="">rentOrMortgage</label>
						<input type="number" id="rentOrMortgage" class="form-control" value="{{ user.profile.monthlyCosts.rentOrMortgage }}" required
							autofocus>

						<label for="groceries" class="">groceries</label>
						<input type="number" id="groceries" class="form-control" value="{{ user.profile.monthlyCosts.groceries }}" required autofocus>

						<label for="bills" class="">bills</label>
						<input type="number" id="bills" class="form-control" value="{{ user.profile.monthlyCosts.bills}}" required autofocus>

						<label for="otherExpenses" class="">otherExpenses</label>
						<input type="number" id="otherExpenses" class="form-control" value="{{ user.profile.monthlyCosts.otherExpenses }}" required
							autofocus>
					</fieldset>
				</div>
			</div>
			<div class="formsection container">
				<h3><span href="#liabilitiescollapse" data-toggle="collapse" class="glyphicon toggle"></span> Liabilities</h3>
				<div id="liabilitiescollapse" class="collapse in">
					<fieldset class="col-sm-4">
						<label for="mortgage" class="">mortgage</label>
						<input type="number" id="mortgage" class="form-control" value="{{ user.profile.liability.mortgage }}" required autofocus>

						<label for="homeEquityLoans" class="">homeEquityLoans</label>
						<input type="number" id="homeEquityLoans" class="form-control" value="{{ user.profile.liability.homeEquityLoans}}" required
							autofocus>

						<label for="studentLoans" class="">studentLoans</label>
						<input type="number" id="studentLoans" class="form-control" value="{{ user.profile.liability.studentLoans}}" required autofocus>

						<label for="creditCardDebt" class="">creditCardDebt</label>
						<input type="number" id="creditCardDebt" class="form-control" value="{{ user.profile.liability.creditCardDebt }}" required
							autofocus>

						<label for="otherDebt" class="">otherDebt</label>
						<input type="number" id="otherDebt" class="form-control" value="{{ user.profile.liability.otherDebt }}" required autofocus>
					</fieldset>
				</div>
			</div>
			<input class="btn btn-signup btn-primary" type="submit" id="update-button" />
			<p class="alert alert-success hidden" id="successText">Financial information updated successfully.</p>
			<p class="alert alert-danger hidden" id="errorText">Update failed - please check your changes and try again.</p>
		</form>
	</div>
	<div class='action-button'>
		<button id='show-update-form-button' type='button' class='btn btn-update btn-primary'>Update my financial information</button>
	</div>
</div>